:root {
  --palette-text-caption-light: var(--color-NobleDay);
}
p, li  { max-width: var(--paragraph-width--opt, 32em); }
blockquote {
    margin-left: 2em;
    margin-bottom: 1em;
}
.highlight {
    position: relative;
}
.highlight:before {
    content: '';
    position: absolute;
    z-index: -1;
  --offset: -1em;
    top: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    right: var(--offset);
    background-color: var(--color-Ivory);
}


.a-pagehead {
    background-color: hsl(226, 15%, 12%);
    color: hsl(226, 27%, 90%);
    padding: 0 2em;
    display: flex;
    gap: 1em;
}
.a-pagehead * {
    font-size:   var(--h5-font-size);
    line-height: var(--h5-line-height);
    padding: 0.25em;
}


.a-retritintro {
    padding: 2em;
    background-color: hsl(226, 42%, 85%);
}
.a-retritintro .introduction {
  --font-size:   var(--inc-font-size, 1.25em);
  --line-height: calc(32/20);
    font-size:   var(--font-size);
    line-height: var(--line-height);
    padding-bottom: 1em;
}
.a-retritintro .introduction p {
     max-width: var(--paragraph-width--max, 42em);
}

.a-placedescription {
    padding: 2em;
    background-color: hsl( 13, 61%, 54%);
    color: hsl( 66, 61%, 88%);
}

.a-programdetails {
    padding: 2em;
    background-color: hsl( 53, 70%, 76%);
    color: hsl(226, 19%, 8%);
}

.cards {
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto;
}
@media all and (max-width: 54em) {
    .cards {
        grid-template-columns: auto;
    }
}

.a-faq {
    padding: 2em;
    background-color: hsl( 66, 61%, 88%);
}
.a-faq .h3 {
    padding-top: 1em;
}

.a-contacts {
    padding: 2em;
    background-color: hsl(212, 34%, 29%);
    color: hsl(226, 27%, 90%);
}

.a-dailyschedule {
    padding: 2em;
    padding-top: 4em;
    background-color: hsl(226, 10%, 98%);
    color: hsl(226, 19%, 8%);
}


/* Grid */
.a-dailyschedule dl {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    align-items:     start;
    justify-content: start;
}
.a-dailyschedule dl>*  { grid-column: 3; }
.a-dailyschedule dl>dt { grid-column: 1; }
.a-dailyschedule dl>dd { grid-column: 2; }
@media all and (max-width: 54em) {
    .a-dailyschedule dl {
        grid-template-columns: auto;
    }
    .a-dailyschedule dl>*  { grid-column: 1; }
    .a-dailyschedule dl>dt { grid-column: 1; }
    .a-dailyschedule dl>dd { grid-column: 1; }
}
/**/
/* Design */
.a-dailyschedule dt {
    font-family: var(--font-family-secondary, sans-serif);
    font-size: 1.5em;
    line-height: 1;
    white-space: nowrap;
    color: hsl(212, 34%, 29%);
}
.a-dailyschedule dd ul {
    margin-left: 0;
    padding-left: 0;
}
.a-dailyschedule dd li {
    padding-bottom: 0.25em;
}
.a-dailyschedule h4 {
    font-weight: bolder;
}
.a-dailyschedule figure {
    border-radius: 1em;
    max-width: 16em;
    position: relative;
    overflow: hidden;
}
.a-dailyschedule figure img {
    width: 100%;
    border-radius: 1em;
    display: block;
}
.a-dailyschedule figcaption {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.6);
    font-size: var(--dec-font-size);
    line-height: var(--dec-line-height);
}
.a-dailyschedule figcaption a {
    text-decoration: none;
    font-weight: bolder;
}
/**/